
body{
    font-family: Helvetica,'sans-serif';
    font-size: 18px;
    background-image: url(img/background.png);
}

.wrapper{
    background-color: white;
    margin: 20px 60px;
    border-radius: 15px;
}

p{
    text-align: justify;
}

h1{
    text-align: center;
}

h1,
h2{
    font-family: Verdana, 'sans-serif';
}

a{
    text-decoration: none;
    color: darkslategray;
}
a:hover{
    color: lightslategray;
}

.recipe-img{
    width: 400px;
    height: auto;
}

.recipe-name{
    text-align: left;
}

.back{
    font-size: 20px;
    font-weight: bold;
}

header {
    display: flex;
    height: 160px;
    padding: 30px 10px;
}

.header-left{
    display: flex;
    width: 60%;
    align-items: center;
}

.header-logo{
    width: 60%;
}

.header-logo img{
    max-width: 100%;
    max-height: 100%;
}

.header-title h1{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 3.5em;
    text-align: left;
    letter-spacing: -2px;
    text-transform: uppercase;
    padding-left: 20px;
}

.red-txt{
    color: #cf2a38;
}

.white-txt{
    color: white;
    background-color: #d17423;
}

.divider {
    width: 5px;
    background: #cf2a8a;
  }

.header-right{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.social{
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.social-icon{
    max-width: 100%;
    max-height: 100%;
}

.searchbox{
    height: 50%;
}

.form-wrapper{
    display: flex;
    height: 100%;
    align-items: center;
    margin: 10px 10px;
}

.form-wrapper input[type="text"]{
    flex: 1 1 auto;
    border: 2px solid #d17423;
    font-size: 16px;
    padding: 12px 20px;
    outline: none;
    box-sizing: border-box;
}

.form-wrapper input[type="text"]:focus{
    border: 2px solid #cf2a8a;
}

.form-wrapper input[type="submit"]{
    font-size: 16px;
    background-color: #cf2a8a;
    border: none;
    color: #F9FAF8;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
}

.nav {
    background-color: #cf2a8a;
    height: 50px;
}