
body{
    font-family: Helvetica,'sans-serif';
    font-size: 18px;
    background-image: url(img/background.png);
}

.wrapper{
    background-color: white;
    margin: 20px 60px;
    border-radius: 15px;
}

p{
    text-align: justify;
}

h1{
    text-align: center;
}

h1,
h2{
    font-family: Verdana, 'sans-serif';
}

a{
    text-decoration: none;
    color: darkslategray;
}
a:hover{
    color: lightslategray;
}

.recipe-img{
    width: 400px;
    height: auto;
}

.recipe-name{
    text-align: left;
}

.back{
    font-size: 20px;
    font-weight: bold;
}

header {
    display: flex;
    height: 160px;
    padding: 30px 10px;
}

.header-left{
    display: flex;
    width: 50vw;
    align-items: center;
}

.header-logo{
    width: 60%;
}

.header-logo img{
    max-width: 100%;
    max-height: 100%;
}

.header-title h1{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 3.5em;
    text-align: left;
    letter-spacing: -2px;
    text-transform: uppercase;
    padding-left: 20px;
}

.header-right{
    display: flex;
    width: 50vw;
}

.red-txt{
    color: #cf2a38;
}

.white-txt{
    color: white;
    background-color: #cf2a38;
}

.divider {
    width: 5px;
    margin: 6px 0;
    background: #cf2a38;
  }