
body{
    font-family: Helvetica,'sans-serif';
    font-size: 18px;
    background-image: url(img/background.png);
}

.wrapper{
    background-color: white;
    margin: 20px 60px;
    border-radius: 15px;
    border: 2px solid #cf2a38;
}

p{
    text-align: justify;
}

h1{
    text-align: center;
}

h1,
h2{
    font-family: Verdana, 'sans-serif';
}

a{
    text-decoration: none;
    color: #cf2a38;
}
a:hover{
    color: #67141c;
}

.recipe-img{
    width: 400px;
    height: auto;
}

.recipe-name{
    text-align: left;
}

.back{
    font-size: 20px;
    font-weight: bold;
}

header {
    display: flex;
    height: 160px;
    padding: 30px 10px;
}

.header-left{
    display: flex;
    width: 60%;
    align-items: center;
}

.header-logo{
    width: 60%;
}

.header-logo img{
    max-width: 100%;
    max-height: 100%;
}

.header-title h1{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 3.5em;
    text-align: left;
    letter-spacing: -2px;
    text-transform: uppercase;
    padding-left: 20px;
}

.red-txt{
    color: #cf2a38;
}

.white-txt{
    color: white;
    background-color: #d17423;
}

.divider {
    width: 5px;
    background: #cf2a8a;
  }

.header-right{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.social{
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.social-icon{
    max-width: 100%;
    max-height: 100%;
}

.searchbox{
    height: 50%;
}

.form-wrapper{
    display: flex;
    height: 100%;
    align-items: center;
    margin: 10px 10px;
}

.form-wrapper input[type="text"]{
    flex: 1 1 auto;
    border: 2px solid #d17423;
    font-size: 16px;
    padding: 12px 20px;
    outline: none;
    box-sizing: border-box;
}

.form-wrapper input[type="text"]:focus{
    border: 2px solid #cf2a8a;
}

.form-wrapper input[type="submit"]{
    font-size: 16px;
    background-color: #cf2a8a;
    border: none;
    color: #F9FAF8;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
}

.nav {
    background-color: #cf2a8a;
}

.nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav li{
    list-style-type: none;
    padding: 10px;
}

.nav a{
    color: white;
    font-size: 20px;
    padding: 10px;
}

nav a:hover{
    background-color: #671445;;
}

.card-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 50px;
}

.card{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    border: 2px solid #d17423;
    padding: 20px 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover{
    border: 2px solid #cf2a8a;
}

.card:hover > a{
    color: #cf2a8a;
}

.card img{
    height: auto;
    width: 80%;
    margin: auto;
    border-radius: 15px;
}

.card a{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.card a:hover{
    color:#cf2a8a;
}

.footer{
    background-color: #671445;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: #C6C7C5;
    font-weight: bold;
}

.footer a:hover{
    color: #8a8c88;
}